.list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 699px) {
  .list__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
